body {margin:0;}
body.index{
    background: #d8d8d8;
    font-family: Verdana, Geneva, sans-serif;
}
body.connexion{
    background: #d8d8d8;
    font-family: Verdana, Geneva, sans-serif;
}
body.recuperation{
    background: #d8d8d8;
    font-family: Verdana, Geneva, sans-serif;
}
body.profil{
    background: #d8d8d8;
    font-family: Verdana, Geneva, sans-serif;
}
.connexion{
    width:400px;
    margin:0 auto;
    margin-top:10%;

}
.profil{
    width:400px;
    margin:0 auto;
    margin-top:10%;

}
.menu{
    margin: 0 auto;
    width: 400px;
}
.connexion form {
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.connexion input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.connexion input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.connexion input[type=submit]:hover {
    background-color: #47974b;
}
.recuperation{
    width:400px;
    margin:0 auto;
    margin-top:10%;

}

.recuperation form {
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.recuperation input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.recuperation input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.recuperation input[type=submit]:hover {
    background-color: #47974b;
}

#bouton {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    border:none;
    border-radius: 10px;
}
#bouton:hover {
    background-color: #47974b;
    color: white;
    padding: 14px 20px;
    border:none;
    border-radius: 10px;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}

a:link:hover{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  table, th, td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
  }